#content {
  height:95em;
  width:85em;
  float:left;
}

#row_Header {
  height:6em;
  width:85em;
  float:left;
}

.images {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.header {
  height:6em;
  width:28em;
  float:left;
}

H1 {
  color:#058dc7;
  text-align:center
}
  
#row_Line {
  height:19em;
  width:85em;
  float:left;
}

#Line_before {
  height:19em;
  width:28em;
  float:left;
}

#Line_now {
  height:19em;
  width:28em;
  float:left;
}

#Line_goal {
  height:19em;
  width:28em;
  float:left;
}

#row_Area {
  height:19em;
  width:85em;
  float:left;
}

#Area_before {
  height:19em;
  width:28em;
  float:left;
}

#Area_now {
  height:19em;
  width:28em;
  float:left;
}

#Area_goal {
  height:19em;
  width:28em;
  float:left;
}

#row_Pie {
  height:19em;
  width:85em;
  float:left;
}

#Pie_before {
  height:19em;
  width:28em;
  float:left;
}

#Pie_now {
  height:19em;
  width:28em;
  float:left;
}

#Pie_goal {
  height:19em;
  width:28em;
  float:left;
}

#row_Bar {
  height:19em;
  width:85em;
  float:left;
}

#Bar_before {
  height:19em;
  width:28em;
  float:left;
}

#Bar_now {
  height:19em;
  width:28em;
  float:left;
}

#Bar_goal {
  height:19em;
  width:28em;
  float:left;
}

#row_Column {
  height:19em;
  width:85em;
  float:left;
}

#Column_before {
  height:19em;
  width:28em;
  float:left;
}

#Column_now {
  height:19em;
  width:28em;
  float:left;
}

#Column_goal {
  height:19em;
  width:28em;
  float:left;
}

div{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
